<div class="container">
  <div class="row">
    <h2>Add Todo</h2>
    <form>
      <div class="mb-3">
        <label for="task" class="form-label">Task</label>
        <input
          type="text"
          class="form-control"
          id="task"
          aria-describedby="task"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="row">
    <h2>My Todo's</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Created Date</th>
          <th scope="col">Is Completed</th>
          <th scope="col">Completed Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="todos$ | async as todos; else pending">
          <tr *ngFor="let todo of todos">
            <th>{{ todo.title }}</th>
            <td>{{ todo.createdAt }}</td>
            <td>{{ todo.isCompleted }}</td>
            <td>{{ todo.completedAt }}</td>
          </tr>
        </ng-container>

        <ng-template #pending>
          <div>pending</div>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
